
Welcome, <%= current_user.email %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

</nav>
<centre><h2>Blog</h2></centre>
<table class= "table">
  <thead>
  <tr>
    <th style="background-color: #007bff; color: #fff; padding: 10px;">Article Name</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |topic| %>
    <tr>
      <td style="border: 1px solid #ddd; padding: 10px;">
        <%= link_to topic.title, topic, style: "text-decoration: none; color: #333; font-weight: bold;" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br><br>
<p style="text-align: center;">
  <%= link_to "New article", new_article_path, style: "text-decoration: none; font-weight: bold; background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px;" %>
</p>


