<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>


    <p>
      <%= link_to topic.name, topic %>

    </p>
  <% end %>
</div>

<%= link_to "New topic", new_topic_path %>
