<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag 'buttonStyle', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render @topic %>




<table style="margin: 0 auto; width: 80%; border-collapse: collapse; text-align: center;">
  <%= render 'posts/index' %>
</table>

<br>



