<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>

          <span class="navbar-text mr-3">
            Welcome, <%= current_user.email %>
          </span>
        <%controller.redirect_to article_path %>

<br><br>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>

      <% else %>

          <%= button_to 'Sign in', new_user_session_path, class: 'nav-link' %>

      <% end %>
    </ul>
  </div>
</nav>
